.genItem
{
    color: rgb(200, 200, 200);
    border-color: rgb(33, 33, 33) !important;
    padding: 6px;
}

.genItem-popover form label
{
    font-size: 16px;
    margin-right: 12px;
}

.genItem-popover form div
{
    display: flex;
}

.genItem-popover .dismiss-btn:hover
{
    cursor: pointer;
}

.gen-symbols
{
    
}