.genSymbol
{
    display: flex;
    min-width: 30px;
    min-height: 30px;

    background-color: rgb(41, 111, 232);
    border-radius: 9px;

    text-align: center;
    color: rgb(33, 33, 33);
    font-size: 20px;
}

.genSymbol:hover
{
    background-color: aliceblue;
    cursor: pointer;
}

.genSymbol p
{
    min-width: 100%;
    text-align: center !important;

    margin: 0px !important;
    padding: 0px !important;
}