.genSymbol
{
    display: flex;
    min-width: 30px;
    max-height: 30px;
    /* margin: 2px; */
    padding: 1px !important;

    background-color: rgb(41, 111, 232);
    border-radius: 4px;

    text-align: center;
    justify-content: center;
    align-items: center;

    color: rgb(33, 33, 33);
    font-size: 20px;
    color: white;
}

.addBtn
{
    background-color: green;
}

.genSymbol:hover, .addBtn:hover
{
    background-color: aliceblue;
    cursor: pointer;
}

.genSymbol p
{
    min-width: 100%;
    text-align: center !important;

    margin: 0px !important;
    padding: 0px !important;
}