.punnett-square
{
  color: whitesmoke;
  font-size: 12px;

  width: auto;
  height: auto;
}

.punnett-square thead
{

}

.punnett-square tr
{
  /* min-height: 100px !important; */
}

.punnett-square td
{
  border: 1px solid #212121;
  min-width: 100px !important;
  min-height: 100px !important;
}

.punnett-square td div
{
  min-height: 20px;
}

.punnett-square thead tr
{

}

.punnett-square thead tr td
{

}

.punnett-square tbody
{

}

.punnett-square tbody tr
{

}

.punnett-square tbody td:not(:first-of-type):hover
{
  background-color: rgb(28, 87, 87);
}

.punnett-square .sel
{
  background-color: rgb(6, 53, 53);
}

.punnett-square .sel2
{
  background-color: rgb(57, 67, 14) !important;
}

.glow
{
  -webkit-box-shadow: inset 0px 0px 6px 2px rgba(255,255,255,0.63) !important;
  box-shadow: inset 0px 0px 6px 2px rgba(255,255,255,0.63) !important;
}

.glow2
{
  -webkit-box-shadow: inset 0px 0px 6px 2px rgba(255,255,255,0.63) !important;
  box-shadow: inset 0px 0px 6px 2px rgba(255,255,255,0.63) !important;
}

.slow-trans
{
  transition: 0.2s;
}