body
{
  background-color:rgb(33, 33, 33) !important;
  color: whitesmoke !important;
}

.bg-first
{
  background-color:rgb(33, 33, 33) !important;
}

.bg-second
{
  background-color: rgb(46, 46, 46) !important;
}

.shadowed
{
  -webkit-box-shadow: 3px 6px 15px -8px #000000; 
  box-shadow: 3px 6px 15px -8px #000000;
}

.txt-bright
{
  color: whitesmoke !important;
}

.f-right
{
  float: right !important;
}

.mr-3
{
  margin-right: 20px;
}

.mr-2
{
  margin-right: 8px;
}

.pr-2
{
  padding-right: 6px !important;
}

.heading
{
  top: 12px;
  padding: 10px;
}

.heading h1
{
  font-size: 50px;
  color: white;
}

.short-input
{
  width: 40px !important;
  display: inline;
}

/* Layouts */

.mycard
{
  padding: 12px;
}

.myheader
{
  padding: 6px;

  background-color: rgb(33, 33, 33);

  cursor: pointer;
}

.myframe
{
  border: 3px solid rgb(33, 33, 33);
  /* padding: 6px; */
}

.m-0 
{
  margin: 0px !important;
}

/* Inputs */

input
{
  background-color: rgb(33, 33, 33) !important;
  box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.3);
  border: none !important;
  outline: 0;
  color: gray !important;
}
input:focus
{
  outline: none !important;
}

.txt-blue
{
  color: cadetblue !important;
}

.fillempty:empty::after
{
  content: "\00a0";
}

/* Buttons */
.my-btn-dark
{
  background-color: rgb(33, 33, 33) !important;
  border: none !important;
  outline: none !important;
}

.check-input
{
  height: 20px !important;
  width: 20px !important;
  margin-left: 6px;
  margin-right: 6px;
}

.btn-edit:hover
{
  color: aqua !important;
}

.btn-delete:hover
{
  color: red !important;
}

.feedback
{
  color: rgb(145, 233, 233) !important;
}

.btn-xs
{
  padding: .20rem .4rem !important;
  font-size: .7rem !important;
  border-radius: .2rem !important;
}
