body
{
  background-color:rgb(33, 33, 33) !important;
  color: antiquewhite !important;
}

.bg-first
{
  background-color:rgb(33, 33, 33) !important;
}

.bg-second
{
  background-color: rgb(46, 46, 46);
}

.shadowed
{
  -webkit-box-shadow: 3px 6px 15px -8px #000000; 
  box-shadow: 3px 6px 15px -8px #000000;
}

.heading
{
  top: 12px;
  padding: 10px;
}

.heading h1
{
  font-size: 50px;
  color: white;
}

.mycard
{
  padding: 12px;
}

/* Inputs */
.inputs
{
  background-color: rgb(46, 46, 46);
}